.cadastro {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    gap: 10px;
    background-color: green;
    height: 100px;
    width: 650px;
    color: white;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

