.form {
    background-color: blue;
    height: 100px;
    width: 200px;
    margin: 10px auto;
    text-align: center;
    border-radius: 10px;
}

.form input {
    border-radius: 8px;
    padding: 5px;
    font-weight: bold;
}